In [7]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Gbadolite,4.2833,21.0167,71.28,95,100,1.57,CD,2022-10-04 20:50:24
1,1,Vao,-22.6667,167.4833,68.29,61,6,10.80,NC,2022-10-04 20:50:25
2,2,Ushuaia,-54.8000,-68.3000,56.86,41,20,9.22,AR,2022-10-04 20:49:39
3,3,Hobart,-42.8794,147.3294,42.06,88,40,12.66,AU,2022-10-04 20:47:08
4,4,Bonfim,3.0833,-59.9500,86.79,63,81,2.04,BR,2022-10-04 20:50:27

In [9]:
# Confirm Data Types are correct
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

## Create Heatmap

In [24]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layerheat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Get Vacation Parameters

In [29]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [32]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Gbadolite,4.2833,21.0167,71.28,95,100,1.57,CD,2022-10-04 20:50:24
7,7,La Carolina,38.2756,-3.6153,71.29,28,11,3.31,ES,2022-10-04 20:50:29
13,13,Salalah,17.0151,54.0924,78.01,84,62,5.39,OM,2022-10-04 20:50:33
15,15,Hithadhoo,-0.6000,73.0833,82.31,71,99,17.47,MV,2022-10-04 20:50:33
16,16,Nizwa,22.9333,57.5333,76.26,59,0,0.85,OM,2022-10-04 20:50:34
18,18,Katsuura,35.1333,140.3000,77.16,86,100,17.85,JP,2022-10-04 20:50:35
19,19,Mount Pleasant,32.7941,-79.8626,73.99,45,0,8.05,US,2022-10-04 20:50:35
20,20,Cabedelo,-6.9811,-34.8339,81.27,74,31,11.56,BR,2022-10-04 20:50:36
24,24,Angoram,-4.0625,144.0661,75.07,96,96,1.61,PG,2022-10-04 20:50:41
26,26,Jardim,-21.4803,-56.1381,84.92,49,5,1.95,BR,2022-10-04 20:50:42

In [33]:
preferred_cities_df.count()

City_ID       212
City          212
Lat           212
Lng           212
Max Temp      212
Humidity      212
Cloudiness    212
Wind Speed    212
Country       212
Date          212
dtype: int64

# Create a hotel data frame

In [34]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0        Gbadolite      CD     71.28   4.2833   21.0167
7      La Carolina      ES     71.29  38.2756   -3.6153
13         Salalah      OM     78.01  17.0151   54.0924
15       Hithadhoo      MV     82.31  -0.6000   73.0833
16           Nizwa      OM     76.26  22.9333   57.5333
18        Katsuura      JP     77.16  35.1333  140.3000
19  Mount Pleasant      US     73.99  32.7941  -79.8626
20        Cabedelo      BR     81.27  -6.9811  -34.8339
24         Angoram      PG     75.07  -4.0625  144.0661
26          Jardim      BR     84.92 -21.4803  -56.1381

In [35]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}