In [32]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Gbadolite,4.2833,21.0167,71.28,95,100,1.57,CD,2022-10-04 20:50:24
1,1,Vao,-22.6667,167.4833,68.29,61,6,10.80,NC,2022-10-04 20:50:25
2,2,Ushuaia,-54.8000,-68.3000,56.86,41,20,9.22,AR,2022-10-04 20:49:39
3,3,Hobart,-42.8794,147.3294,42.06,88,40,12.66,AU,2022-10-04 20:47:08
4,4,Bonfim,3.0833,-59.9500,86.79,63,81,2.04,BR,2022-10-04 20:50:27

In [4]:
# Confirm Data Types are correct
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

## Create Heatmap

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layerheat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Get Vacation Parameters

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,4,Bonfim,3.0833,-59.9500,86.79,63,81,2.04,BR,2022-10-04 20:50:27
5,5,San Patricio,28.0170,-97.5169,87.19,36,95,8.59,US,2022-10-04 20:50:28
14,14,Cayenne,4.9333,-52.3333,86.04,66,0,12.66,GF,2022-10-04 20:45:37
15,15,Hithadhoo,-0.6000,73.0833,82.31,71,99,17.47,MV,2022-10-04 20:50:33
20,20,Cabedelo,-6.9811,-34.8339,81.27,74,31,11.56,BR,2022-10-04 20:50:36
26,26,Jardim,-21.4803,-56.1381,84.92,49,5,1.95,BR,2022-10-04 20:50:42
33,33,Lufkin,31.3382,-94.7291,86.32,29,0,0.00,US,2022-10-04 20:50:47
34,34,Butaritari,3.0707,172.7902,81.03,77,17,13.00,KI,2022-10-04 20:50:47
46,46,Tahlequah,35.9154,-94.9700,89.82,11,0,0.00,US,2022-10-04 20:51:42
49,49,Puerto Escondido,15.8500,-97.0667,84.56,67,37,3.98,MX,2022-10-04 20:51:55

In [12]:
preferred_cities_df.count()

City_ID       77
City          77
Lat           77
Lng           77
Max Temp      77
Humidity      77
Cloudiness    77
Wind Speed    77
Country       77
Date          77
dtype: int64

# Create a hotel data frame

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
4             Bonfim      BR     86.79   3.0833  -59.9500
5       San Patricio      US     87.19  28.0170  -97.5169
14           Cayenne      GF     86.04   4.9333  -52.3333
15         Hithadhoo      MV     82.31  -0.6000   73.0833
20          Cabedelo      BR     81.27  -6.9811  -34.8339
26            Jardim      BR     84.92 -21.4803  -56.1381
33            Lufkin      US     86.32  31.3382  -94.7291
34        Butaritari      KI     81.03   3.0707  172.7902
46         Tahlequah      US     89.82  35.9154  -94.9700
49  Puerto Escondido      MX     84.56  15.8500  -97.0667

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [37]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [40]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Bonfim,BR,86.79,3.0833,-59.9500,
5,San Patricio,US,87.19,28.0170,-97.5169,"Motel 6 Sinton, TX"
14,Cayenne,GF,86.04,4.9333,-52.3333,Hôtel Le Dronmi
15,Hithadhoo,MV,82.31,-0.6000,73.0833,Scoop Guest House
20,Cabedelo,BR,81.27,-6.9811,-34.8339,Pousada Camboinha
...,...,...,...,...,...,...
548,Muttupet,IN,81.57,10.4000,79.4833,Hotel Star Residency
555,Canto Do Buriti,BR,87.91,-8.1100,-42.9444,Novo Hotel
561,Lahaina,US,84.20,20.8783,-156.6825,Lahaina Shores Beach Resort
565,Kloulklubed,PW,82.69,7.0419,134.2556,Storyboard Beach Resort
570,Sal Rei,CV,80.49,16.1833,-22.9167,Marine Club Beach Resort

In [42]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [44]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [45]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))