# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [78]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)
city_data_df.drop(columns="Unnamed: 0", axis=1, inplace=True)

# Display sample data
city_data_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Atuona,PF,-9.8000,-139.0333,76.39,79,27,19.93,light rain
1,Upernavik,GL,72.7868,-56.1549,17.11,81,68,3.83,broken clouds
2,Vaini,TO,-21.2000,-175.2000,75.36,88,75,10.36,broken clouds
3,Hasaki,JP,35.7333,140.8333,54.00,82,100,11.48,overcast clouds
4,Hobart,AU,-42.8794,147.3294,47.26,69,20,10.36,few clouds
5,Tuktoyaktuk,CA,69.4541,-133.0374,42.22,75,100,18.79,overcast clouds
6,College,US,64.8569,-147.8028,44.92,88,100,11.50,light rain
7,Komsomolskiy,UZ,40.4272,71.7189,54.32,50,6,6.91,clear sky
8,Port Elizabeth,ZA,-33.9180,25.5701,63.10,92,4,7.00,clear sky
9,Barrow,US,71.2906,-156.7887,35.62,69,20,31.07,few clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [25]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [26]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] > 75) & (city_data_df['Max Temp'] < 90) ]
                                    
# Display sample data
preferred_cities_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Atuona,PF,-9.8000,-139.0333,76.39,79,27,19.93,light rain
2,Vaini,TO,-21.2000,-175.2000,75.36,88,75,10.36,broken clouds
10,Faanui,PF,-16.4833,-151.7500,77.95,75,6,22.08,light rain
13,Puerto Ayora,EC,-0.7393,-90.3518,75.16,92,81,8.99,broken clouds
14,Kapaa,US,22.0752,-159.3190,82.72,71,0,10.36,clear sky
...,...,...,...,...,...,...,...,...,...
674,Les Cayes,HT,18.2000,-73.7500,83.77,66,11,5.46,few clouds
677,Alofi,NU,-19.0595,-169.9187,78.69,73,75,14.97,broken clouds
679,Pedro Carbo,EC,-1.8333,-80.2333,86.70,46,89,9.95,overcast clouds
680,Mayumba,GA,-3.4320,10.6554,76.10,85,99,6.46,overcast clouds
682,Palmer,US,42.1584,-72.3287,76.55,48,40,9.22,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [31]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Atuona,PF,-9.8000,-139.0333,76.39,79,27,19.93,light rain
2,Vaini,TO,-21.2000,-175.2000,75.36,88,75,10.36,broken clouds
10,Faanui,PF,-16.4833,-151.7500,77.95,75,6,22.08,light rain
13,Puerto Ayora,EC,-0.7393,-90.3518,75.16,92,81,8.99,broken clouds
14,Kapaa,US,22.0752,-159.3190,82.72,71,0,10.36,clear sky
18,Kloulklubed,PW,7.0419,134.2556,83.19,70,77,1.77,broken clouds
19,Sao Filipe,CV,14.8961,-24.4956,79.21,85,27,8.61,scattered clouds
20,Isangel,VU,-19.5500,169.2667,76.51,82,49,13.89,scattered clouds
21,Hithadhoo,MV,-0.6000,73.0833,80.53,78,97,14.45,overcast clouds
24,Kayes,ML,14.0000,-11.0000,78.19,67,55,6.91,light rain

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [32]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities.copy(["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"])

# Display sample data
hotel_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Atuona,PF,-9.8000,-139.0333,76.39,79,27,19.93,light rain
2,Vaini,TO,-21.2000,-175.2000,75.36,88,75,10.36,broken clouds
10,Faanui,PF,-16.4833,-151.7500,77.95,75,6,22.08,light rain
13,Puerto Ayora,EC,-0.7393,-90.3518,75.16,92,81,8.99,broken clouds
14,Kapaa,US,22.0752,-159.3190,82.72,71,0,10.36,clear sky
...,...,...,...,...,...,...,...,...,...
674,Les Cayes,HT,18.2000,-73.7500,83.77,66,11,5.46,few clouds
677,Alofi,NU,-19.0595,-169.9187,78.69,73,75,14.97,broken clouds
679,Pedro Carbo,EC,-1.8333,-80.2333,86.70,46,89,9.95,overcast clouds
680,Mayumba,GA,-3.4320,10.6554,76.10,85,99,6.46,overcast clouds
682,Palmer,US,42.1584,-72.3287,76.55,48,40,9.22,scattered clouds

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [36]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"]= ""

# Display sample data
hotel_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
0,Atuona,PF,-9.8000,-139.0333,76.39,79,27,19.93,light rain,
2,Vaini,TO,-21.2000,-175.2000,75.36,88,75,10.36,broken clouds,
10,Faanui,PF,-16.4833,-151.7500,77.95,75,6,22.08,light rain,
13,Puerto Ayora,EC,-0.7393,-90.3518,75.16,92,81,8.99,broken clouds,
14,Kapaa,US,22.0752,-159.3190,82.72,71,0,10.36,clear sky,
...,...,...,...,...,...,...,...,...,...,...
674,Les Cayes,HT,18.2000,-73.7500,83.77,66,11,5.46,few clouds,
677,Alofi,NU,-19.0595,-169.9187,78.69,73,75,14.97,broken clouds,
679,Pedro Carbo,EC,-1.8333,-80.2333,86.70,46,89,9.95,overcast clouds,
680,Mayumba,GA,-3.4320,10.6554,76.10,85,99,6.46,overcast clouds,
682,Palmer,US,42.1584,-72.3287,76.55,48,40,9.22,scattered clouds,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [37]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [40]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [68]:
# Display sample data
hotel_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
0,Atuona,PF,-9.8000,-139.0333,76.39,79,27,19.93,light rain,Villa Enata
2,Vaini,TO,-21.2000,-175.2000,75.36,88,75,10.36,broken clouds,Keleti Beach Resort
10,Faanui,PF,-16.4833,-151.7500,77.95,75,6,22.08,light rain,Bora-Bora Pearl Beach Resort & Spa
13,Puerto Ayora,EC,-0.7393,-90.3518,75.16,92,81,8.99,broken clouds,Finch Bay Galapagos Hotel
14,Kapaa,US,22.0752,-159.3190,82.72,71,0,10.36,clear sky,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...,...,...,...,...
674,Les Cayes,HT,18.2000,-73.7500,83.77,66,11,5.46,few clouds,Villa Orphee
677,Alofi,NU,-19.0595,-169.9187,78.69,73,75,14.97,broken clouds,Taloa Heights
679,Pedro Carbo,EC,-1.8333,-80.2333,86.70,46,89,9.95,overcast clouds,Centro turístico y hostería oasis pedro carbo
680,Mayumba,GA,-3.4320,10.6554,76.10,85,99,6.46,overcast clouds,LIKWALE LODGE
682,Palmer,US,42.1584,-72.3287,76.55,48,40,9.22,scattered clouds,Wedgewood Motel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [69]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.drop(hotel_df.loc[hotel_df["Hotel Name"]==""].index)
# Display sample data
clean_hotel_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
0,Atuona,PF,-9.8000,-139.0333,76.39,79,27,19.93,light rain,Villa Enata
2,Vaini,TO,-21.2000,-175.2000,75.36,88,75,10.36,broken clouds,Keleti Beach Resort
10,Faanui,PF,-16.4833,-151.7500,77.95,75,6,22.08,light rain,Bora-Bora Pearl Beach Resort & Spa
13,Puerto Ayora,EC,-0.7393,-90.3518,75.16,92,81,8.99,broken clouds,Finch Bay Galapagos Hotel
14,Kapaa,US,22.0752,-159.3190,82.72,71,0,10.36,clear sky,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...,...,...,...,...
674,Les Cayes,HT,18.2000,-73.7500,83.77,66,11,5.46,few clouds,Villa Orphee
677,Alofi,NU,-19.0595,-169.9187,78.69,73,75,14.97,broken clouds,Taloa Heights
679,Pedro Carbo,EC,-1.8333,-80.2333,86.70,46,89,9.95,overcast clouds,Centro turístico y hostería oasis pedro carbo
680,Mayumba,GA,-3.4320,10.6554,76.10,85,99,6.46,overcast clouds,LIKWALE LODGE
682,Palmer,US,42.1584,-72.3287,76.55,48,40,9.22,scattered clouds,Wedgewood Motel

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [75]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [76]:
# Set the file name.
output_data_file = "./WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [72]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [73]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>light rain and 76.39 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 75.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bora-Bora Pearl Beach Resort & Spa</dd>\n<dt>City</dt><dd>Faanui</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>light rain and 77.95 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>broken clouds and 75.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 82.72 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Storyboard Beach Resort</dd>\n<dt>City</dt><dd>Kloulklubed</dd>\n<dt>Country</dt><dd>PW</dd>\n<dt>Current Weather</dt><dd>broken clouds and 83.19 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Xaguate</dd>\n<dt>City</dt><dd>Sao Filipe</dd>\n<dt>Country</dt><dd>CV</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 79.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tanna Lodge</dd>\n<dt>City</dt><dd>Isangel</dd>\n<dt>Country</dt><dd>VU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 76.51 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.53 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Heidi's Inn</dd>\n<dt>City</dt><dd>Brewster</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>few clouds and 77.05 °F</dd>\n</dl>\n"]


## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [64]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   -9.8000 -139.0333
2  -21.2000 -175.2000
10 -16.4833 -151.7500
13  -0.7393  -90.3518
14  22.0752 -159.3190
18   7.0419  134.2556
19  14.8961  -24.4956
20 -19.5500  169.2667
21  -0.6000   73.0833
32  41.3973  -73.6171

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [67]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))